.menuTitle {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  font-weight: normal;
  font-size: 100px;
  display: block;
  margin-bottom: 0;
  color: #c8a97e;
  line-height: 1;
  font-family: "Brush Script MT", cursive;
  margin-top: 0;
  z-index: -1;
}


.menu-btn{
  
  border: none;
  background: #C8A97E;
  color: #ffffff;
  padding:10px 12px;
  border-radius: 5px;
  transition: 0.5s;

}

.menu-btn:hover{
  background: #bb9b6e;
  color: white;
}

